{% extends "base.html" %}


{% block content %}
  <h1>Redactor list
    <a href="{% url 'agency:redactor-create' %}">Create</a>
  </h1>
  {% block search %}
    {% include "includes/search.html" %}
  {% endblock %}
  {% if redactor_list %}
    <ul>
      {% for redactor in redactor_list %}
        <li><a href="{% url 'agency:redactor-detail' pk=redactor.id %}">{{ redactor.username }}</a>{% if user == redactor %} (Me){% endif %}</li>
        <li>({{ redactor.first_name }} {{ redactor.last_name }})</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no publishers</p>

  {% endif %}

{% endblock %}
